@import "bootstrap/bootstrap";

@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

body, label, .checkbox label {
	font-weight: 300;
}

.picCheer{
  background-image: url(../image/login.jpg);
  color: #ffffff;
  background-repeat: no-repeat;
}
.darken {
  background-image:
  linear-gradient(
          rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 0.4)
  ),
  url(../image/login.jpg);
}

#navbar-head {
  background-image: url(../image/bg-header.png);
  background-repeat: repeat-x;
  min-height: 100px;
  margin-bottom: 0 !important;
  border: none !important;
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;

}

#navbar-head .navbar-nav li a {
  line-height: 60px;
}

@media (max-width: 767px) {
  #navbar-head .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.btn-default {
  height: 20px !important;
  min-height: 40px !important;
  margin-top: 25px;
  background: #ffffff;
}

#secondary-nav {

  background: #d8d1d1;
  min-height: 20px !important;
  height: 40px;
  margin: 0 !important;
  padding: 0 !important;
  border: none;
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  width: 100%;

}

#secondary-nav .navbar-nav li a {
  line-height: 10px;
  color: #000000;
  text-decoration-style: solid;

}

#secondary-nav .navbar-nav li a:hover {
  color: #ffffff;

}

@media (max-width: 767px) {
  #secondary-nav {
    display: none;
  }

}

#contest-category ul {
  margin-left: 70px !important;

}

.no-padding {
  padding: 0px;

}

.no-margin {
  margin: 0px;
}

.fade-carousel {
  position: relative;
  height: 100vh;
}

.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  color: #fff;
  text-align: center;

  text-shadow: 1px 1px 0 rgba(0, 0, 0, .75);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;

  opacity: .7;
}

.fade-carousel .slides .banner {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.fade-carousel .slides .banner {
  background-image: url(../image/home-banner.jpg);
}

.hero > a{
  margin-right: 20px;

}
@media screen and (min-width: 980px) {
  .hero {
    width: 980px;
  }
}

@media screen and (max-width: 640px) {
  .hero h1 {
    font-size: 2em;
  }
}

#signup{
  margin-right: 15px;
  top: 100px;
}

#signup input[type="password"], input[type="email"], input[type="text"] {
  height: 40px;
}
#signup .btn{
  height: 50px;
}

#image-signup{
  background-image: url('../image/login.jpg');
  background-repeat: no-repeat;
  margin: 0px;
  padding: 0px;
}


.prize_label
{


  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  width:2em;


  margin-top:5px;
  padding:4px;
  border-top:2px solid #666;
  color:#fff;
  background:#666;
  font-weight:bold;
  font-family:"Helvetica Neue", Arial, sans-serif;
  text-align:center;
  -webkit-border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  -o-border-radius: 8px 8px 8px 8px;
  border-radius: 8px 8px 8px 8px;
}
.borderless tr td,.borderless tbody tr,.borderless thead tr th{
  border-top:none !important;
}
.table{
  border:none !important;
  border-top:none !important;

}
table td {
  border-top: none !important;
}

.table th, .table td {
  border-top: none !important;
}

.margin_right{
  margin-right: 15px;
}
.margin_top{
  margin-top: 50px;
}

.margin_bottom{
  margin-bottom: 20px;
}