@btn-font-weight: 300;

body, label, .checkbox label {
  font-weight: 300;
}

#navbar-head {
  background-image: url('../image/bg-header.png');
  background-repeat: repeat-x;
  min-height: 100px;
  margin-bottom: 0 !important;
  border: none !important;
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;

}

#navbar-head .navbar-nav li a {
  line-height: 60px;
}

@import "bootstrap/bootstrap";
@import "typography";
@import "mixins";

// Extend bootstrap
@media (min-width: @screen-sm-min) {
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.btn-white {
  .button-variant(#000, #fff, #fff);
}

.panel-contests {
  .panel-variant(transparent, #fff, #223577, transparent);
  border: none;
  .panel-heading {
    .background-banner(url(../image/bg-header.png));
  }
}


body {
  background-color: #e7e7e7;
}

body, label, .checkbox label {
  font-weight: 300;
}

img {
  max-width: 100%;
}

// Fix .nav
.nav > li > p.navbar-btn {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-default {
  background-image: url("../image/bg-header.png");
  background-repeat: no-repeat;
}

// Banner on homepage.
#home-banner {
  .background-banner(url('../image/home-banner.jpg'));
  #home-banner-container {
    min-height: 240px;
    min-height: ~"calc(100vh - "@navbar-height~")";
    @media (min-height: 640px) {
      min-height: 560px;
      min-height: ~"calc(100vh - "@navbar-height~")";
    }

    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;

    #home-banner-content {
      .flex-center-middle();
      > div {
        padding: 64px 0;
      }
      flex: 1 1 260px;
      min-height: 260px;
    }

    #stat-container {
      flex: 0 0 160px;
    }
  }
}

@import 'cards';
@import 'stats';
@import 'slider';
